form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 770px;
  margin-inline: auto;
  padding-inline: 10px;

  .search-btn {
    background-color: white;
    border: none;
  }
}

.search-input-wrapper {
  position: relative;
  flex-grow: 1;

  .search-input {
    border: solid 1px var(--dark-mode-purple);
    background-color: var(--white);
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    color: var(--black);

    &:focus {
      outline-color: var(--pale-purple);
      outline-offset: 2px;
    }
  }

  button {
    position: absolute;
    background-color: var(--white);
    right: 10px;
    top: 50%;
    translate: 0% -50%;
  }
}

.dark-mode-btn {
  background-image: url("/public/images/moon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 143px;
  position: relative;
  color: var(--dark-mode-white);

  img {
    transition: 200ms;
    width: 0.5rem;
  }

  &.active {
    .filter-wrapper {
      display: block;
    }

    img {
      rotate: 180deg;
    }
  }

  .filter-wrapper {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    translate: 0% 100%;
    border: solid 1px var(--purple);
    background-color: var(--dark-mode-white);
    color: var(--purple);
    font-size: 1rem;
    text-align: left;
    border-radius: 5px;

    li {
      padding: 4px 5px;
      transition: 200ms;
      cursor: pointer;
    }
    li:hover {
      background-color: var(--pale-purple);
    }
  }
}
